//RESETS
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: $body-bg-primary;
  font-family: "Old Standard TT", serif;
  color: $color-light;
  @media (max-width: $screen-lg-max) {
    padding-bottom: 4rem;
  }
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
