//BUTTONS
.btn {
  padding: 1rem 2rem;
  margin-bottom: 0;
  width: 80%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $screen-lg-min) {
    border-radius: 10px;
    width: fit-content;
  }
}

.primary-cta {
  @extend .btn;
  color: $primary-color;
  background-color: $secondary-color;
  border: 1px solid;
  border-color: $primary-color;
  font-weight: 400;
  &:hover {
    color: $secondary-color;
    background-color: $primary-color;
    border-color: $secondary-color;
    transition: 0.4s;
  }
}

.secondary-cta {
  @extend .btn;
  color: $secondary-color;
  background-color: $primary-color;
  border: 1px solid;
  border-color: $secondary-color;
  font-weight: 400;
  &:hover {
    color: $primary-color;
    background-color: $secondary-color;
    border-color: $primary-color;
    transition: 0.4s;
  }
}

.ghost-cta {
  @extend .btn;
  border-left: 3px solid $secondary-color;
  color: $secondary-color;
  border-color: $secondary-color;
  font-weight: 400;
  border-radius: 0;
  &:hover {
    color: $color-light;
    border-left: 3px solid $color-light;
    transition: 0.4s;
  }
}
