nav {
  @include grid(1fr auto, 50px, $body-bg-tertiary);
  align-items: center;
  text-align: center;
  background-color: $body-bg-tertiary;
  border-bottom: 2px solid $secondary-color;

  .logo {
    max-width: 165px;
  }
  ul {
    align-self: center;
    list-style-type: none;
    li {
      float: left;
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1 rem;
        color: $color-light;
        padding: 0.25rem 0.75rem;
        &:hover {
          color: $secondary-color;
        }
        .fas {
          display: block;
          padding: 5px;
          font-size: 30px;
        }
      }
    }
  }
}

//MOBILE NAV
@media (max-width: $screen-lg-max) {
  nav {
    justify-items: center;
    ul {
      @include grid(repeat(4, 1fr), none, $body-bg-tertiary);
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
      align-items: center;
      border-top: 2px solid #9e9e9e;
      z-index: 3;
      li {
        a {
          font-size: 0.75rem;
          padding: 0.5rem 0;
        }
      }
    }
  }
}

//FOOTER
.footer {
  display: none;
  .footer-col {
    align-self: center;
    text-align: center;
    i {
      padding: 0.35rem;
      font-size: 2rem;
    }
    .secondary-cta {
      padding: 1rem 1rem;
      a {
        font-size: 0.75rem;
      }
      @media (min-width: $screen-md-min) {
        padding: 1rem 5rem;
      }
    }
  }
  .footer-col-1,
  .footer-col-2 {
    @extend .footer-col;
    padding: 0 2rem;
    @media (max-width: $screen-lg-max) {
      grid-column-end: span 2;
    }
  }
  .footer-col-3 {
    @extend .footer-col;
    @media (max-width: $screen-lg-max) {
      grid-column-end: span 1;
    }
  }
  @media (min-width: $screen-lg-min) {
    @include grid(repeat(3, 1fr), 125px, $body-bg-tertiary);
    border-top: 3px solid $secondary-color;
    h3 {
      color: $secondary-color;
    }
  }
}
