@mixin grid($columns, $rows: none, $bgcolor: none, $gap: 0) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  grid-gap: $gap;
  background-color: $bgcolor;
}
@mixin alignment($align-self: auto, $text-align: start) {
  align-self: $align-self;
  text-align: $text-align;
}

@mixin bg-image($img-location: none, $bg-position: center, $bg-size: auto) {
  background-image: $img-location;
  background-position: $bg-position;
  background-size: $bg-size;
  background-repeat: no-repeat;
}
