//import google fonts
@import url("https://fonts.googleapis.com/css?family=Courgette|Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap");

h1 {
  font-size: 3rem;
  font-family: "Courgette", cursive;
  padding-top: 2.25rem;
  text-align: center;
}
h2 {
  font-size: 2.3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: $secondary-color;
}
h3 {
  font-size: 1.5rem;
  + h2 {
    padding: 0;
  }
}

h4 {
  font-size: 1.2rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: $secondary-color;
}

p {
  font-size: 1.15rem;
  line-height: 28px;
}
