.text-right {
  text-align: right;
}
.aligncenter {
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
}

//QUERIES -MAX
@media (max-width: $screen-lg-max) {
  .mobile-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
  }
}

//QUERIES -MIN
@media (min-width: $screen-lg-min) {
  .mobile-only {
    display: none !important;
  }
}
