//MIN-WIDTHS
$screen-md-min: 576px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
//MAX-WIDTHS
$screen-md-max: 575px;
$screen-lg-max: 991px;
$screen-xl-max: 1999px;

//Colours
$color-light: white;
$color-dark: black;
$primary-color: #161616;
$secondary-color: #c5a059;
$body-bg-primary: $primary-color;
$body-bg-secondary: white;
$body-bg-tertiary: #302f2d;
