//IMPORT SHEETS
@import "./variables";
@import "./base";
@import "./utilities";
@import "./typography";
@import "./components";
@import "./mixins";
@import "./layout";

//__________________HOMEPAGE________________________\\

//HERO SECTION
.hero-section {
  @include grid(auto, 350px);
  @include bg-image(url("../assets/horseshu/Horse-Shu-Header.jpg"), 50% 10%);
  .hero-header {
    @include alignment(center, center);
    h3 {
      font-family: "Courgette", cursive;
      color: $secondary-color;
    }
  }
  @media (min-width: $screen-lg-min) {
    @include grid(auto, 450px);
  }
}

//welcome section
.welcome-section {
  @include grid(repeat(2, 1fr), 350px, $primary-color);
  @include bg-image(url("../assets/horseshu/Highball.jpg"), 90% 50%, contain);
  .mobile-overlay {
    .left-items {
      padding: 2.5rem;
    }
    @media (max-width: $screen-lg-max) {
      grid-column-end: span 2;
    }
  }
  @media (min-width: $screen-lg-min) {
    @include grid(repeat(2, 1fr), 375px, $primary-color);
  }
}

//EVENT SECTION
.event-header {
  @include alignment(center, center);
  margin-top: -8rem;
  padding-bottom: 1rem;
  img {
  }
  h2 {
    text-align: center;
    padding-top: 0;
  }
  @media (min-width: $screen-lg-min) {
    grid-column: 1/4;
  }
}
.event-section {
  @include grid(1fr, auto, none, 10px);
  @include bg-image(url("../assets/placeholders/wood-bg.jpg"), center, cover);
  padding: 4rem 0rem;
  @media (min-width: $screen-lg-min) {
    @include grid(repeat(3, 1fr), auto, none, 0);
  }
  .item {
    display: grid;
    @include bg-image(none, center, cover);
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 150px;
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    @media (min-width: $screen-lg-min) {
      height: 450px;
      padding: 1.5rem;
    }
    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.65);

      + * {
        z-index: 1;
      }
    }
    h3 {
      color: $secondary-color;
      padding-bottom: 0.5rem;
    }
    &.left {
      background-image: url("../assets/horseshu/Microphone-Original.jpg");
      @media (min-width: $screen-lg-min) {
        border-right: 1px solid $secondary-color;
      }
    }
    &.middle {
      background-image: url("../assets/horseshu/buffalo-wings-lg.jpg");
      @media (min-width: $screen-lg-min) {
        border-right: 1px solid $secondary-color;
      }
    }
    &.right {
      background-image: url("../assets/horseshu/pilsner-bg.jpg");
    }
  }
  .event-cta {
    margin-top: 1.5rem;
    justify-self: center;
    @media (min-width: $screen-lg-min) {
      grid-column: 2/3;
      margin-top: 2.5rem;
    }
  }
}

//MENU SECTION
.menu-section {
  @include grid(1, auto);
  padding: 3rem 2rem 3rem 2rem;
  .menu-header {
    text-align: center;
    padding-bottom: 2rem;
    h3 {
      color: $color-light;
      font-family: "Courgette", cursive;
    }
  }
  .menu-content {
    @include grid(repeat(2, 1fr), auto);
    .right-items {
      @include grid(1, auto, $body-bg-tertiary);
      align-items: center;
      margin: -5rem 0 5rem 0;
      p {
        padding: 1.75rem;
      }
      @media (min-width: $screen-lg-min) {
        margin: 5rem 0 5rem -3rem;
      }
      .text-right {
        padding: 2rem;
        @media (min-width: $screen-xl-min) {
          margin-right: 2rem;
          border-radius: 15px;
        }
      }
    }
    @media (min-width: $screen-xl-min) {
      padding: 0 3rem 0 3rem;
    }
  }
  @media (max-width: $screen-lg-max) {
    .left-items,
    .right-items {
      grid-column-end: span 2;
    }
  }
}

//__________________MENU PAGE__________________\\

.menu-groups {
  padding: 3rem;
  h4 {
    padding: 0 0 0.25rem 0;
  }
  .entree-title {
    grid-column: span 2;
    padding-bottom: 1rem;
    h2 {
      padding: 0;
    }
    sub {
      font-family: "Courgette", cursive;
    }
  }
  .price {
    color: $secondary-color;
    justify-self: end;
  }
  .menu-options {
    @include grid(1fr 1fr auto, auto);
    padding: 0.75rem 0;
    .food-item {
      grid-column: span 2;
    }
    .menu-description {
      grid-column: span 2;
    }
  }
  @media (min-width: $screen-lg-min) {
    @include grid(repeat(2, 1fr), auto, none, 0 50px);
  }
}

.pizza-menu {
  @include grid(1fr 3fr 1fr, auto);
  padding: 2rem 1.5rem 6rem 1.5rem;
  justify-items: center;
  .entree-title {
    grid-column: span 3;
  }
  .accordion {
    grid-column: span 3;
    background-color: $body-bg-tertiary;
    color: $color-light;
    border-bottom: 1px dashed $secondary-color !important;
    border-radius: 15px;
    margin-bottom: 0.75rem;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    h3 {
      font-family: "Old Standard TT", serif;
    }
    &:focus {
      outline: none;
    }
    @media (min-width: $screen-lg-min) {
      grid-column: 2/3;
    }
  }
  .panel {
    grid-column: span 3;
    background-color: $body-bg-tertiary;
    border-radius: 10px;
    border-bottom: 1px dashed $secondary-color;
    margin: -2rem 0 0.75rem 0;
    padding: 1.25rem;
    display: none;
    overflow: hidden;
    width: 100%;
    .byo-pricing {
      @include grid(repeat(3, 1fr), auto);
      text-align: center;
      h4 {
        padding: 0.5rem 0;
        border-top: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;
        margin-bottom: 0.75rem;
        grid-column: 2/3;
      }
      .byo-price {
        padding-bottom: 2rem;
      }
      .topping-opt {
        grid-column: span 3;
        .fas {
          font-size: 6px;
          padding: 0.5rem;
        }
      }
    }
    @media (min-width: $screen-lg-min) {
      grid-column: 2/3;
    }
    .classic-options {
      padding: 0;
      .classic-pricing {
        text-align: center;
        h4 {
          border-bottom: 1px solid $secondary-color;
          margin-bottom: 0.75rem;
          padding-bottom: 0.5rem;
          grid-column: 2/3;
        }
        .classic-price {
          padding-bottom: 2rem;
        }
        @media (min-width: $screen-md-min) {
          text-align: end;
        }
      }
      .menu-options {
        .food-item {
          text-transform: uppercase;
          padding-top: 1rem;
        }
      }
    }
  }
}

.lunch-menu {
  @include grid(repeat(2, 1fr), auto, $gap: 0);
  border: 1px solid $secondary-color;
  padding: 2rem;
  margin: 2rem;
  .entree-title {
    grid-column: span 2;
    padding-bottom: 2rem;
    text-align: center;
    h2 {
      padding: 0;
    }
  }
  .menu-options {
    padding: 0.5rem;
    width: 100%;
    justify-self: center;
    @media (min-width: $screen-md-min) {
      width: auto;
    }
  }
  @media (min-width: $screen-lg-min) {
    margin: 2rem 6rem 2rem 6rem;
  }
  @media (min-width: $screen-xl-min) {
    margin: 2rem 15rem 2rem 15rem;
  }
}

.menu-image {
  @include grid(repeat(3, 1fr), auto);
  .burgerimg {
    grid-area: 1/1/3/3;
    @media (min-width: $screen-md-min) {
      grid-area: auto;
    }
  }
}

//__________________ORDER PAGE__________________\\

.delivery {
  @include grid(auto, 275px);
  @include bg-image(
    url("../assets/placeholders/driver-image.jpg"),
    center,
    cover
  );
  .delivery-header {
    display: grid;
    align-content: center;
    height: 100%;
    text-align: center;
    align-items: center;
    h1 {
      font-family: "Old Standard TT", serif;
      color: $secondary-color;
    }
  }
}

.delivery-content {
  @include grid(repeat(2, 1fr), none, none, 10px);
  padding: 3rem 1rem;
  text-align: center;

  img {
    &:hover {
      opacity: 0.3;
      z-index: 3;
      transition: 0.5s;
    }
    @media (min-width: $screen-lg-min) {
      width: 75%;
    }
  }
}

//__________________EVENT PAGE__________________\\

.event-pg-header {
  @include alignment(center, center);
  img {
    display: none;
  }
  padding-bottom: 1rem;
  h1 {
    text-align: center;
    padding-top: 0;
    font-family: "Old Standard TT", serif;
    color: $secondary-color;
  }
  @media (min-width: $screen-lg-min) {
    grid-column: 1/4;
    margin-top: -8rem;
    img {
      display: initial;
    }
  }
}

.event-pg {
  @include grid(1fr, auto, none, 10px);
  @include bg-image(url("../assets/placeholders/wood-bg.jpg"), center, cover);
  padding: 4rem 0rem;
  @media (min-width: $screen-lg-min) {
    padding: 4rem 2.5rem;
  }
  .event-item {
    display: grid;
    @include bg-image(none, center, cover);
    align-items: center;
    text-align: center;
    position: relative;
    height: 250px;
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $secondary-color;
    @media (min-width: $screen-lg-min) {
      grid-column: 1/4;
      height: 275px;
    }
    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.55);
      + * {
        z-index: 1;
      }
    }
    h2 {
      text-align: center;
      color: $secondary-color;
    }
    h3 {
      color: $secondary-color;
      padding-bottom: 0.5rem;
    }
    &.mon {
      background-image: url("../assets/horseshu/Microphone-Original.jpg");
      @media (min-width: $screen-lg-min) {
        border: 1px solid $secondary-color;
      }
    }
    &.tues {
      background-image: url("../assets/horseshu/buffalo-wings-lg.jpg");
      @media (min-width: $screen-lg-min) {
        border: 1px solid $secondary-color;
      }
    }
    &.thurs {
      background-image: url("../assets/horseshu/pilsner-bg.jpg");
      @media (min-width: $screen-lg-min) {
        border: 1px solid $secondary-color;
      }
    }
  }
}
