@import url("https://fonts.googleapis.com/css?family=Courgette|Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #161616;
  font-family: "Old Standard TT", serif;
  color: white;
}

@media (max-width: 991px) {
  body {
    padding-bottom: 4rem;
  }
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.text-right {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
}

@media (max-width: 991px) {
  .mobile-overlay {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
  }
}

@media (min-width: 992px) {
  .mobile-only {
    display: none !important;
  }
}

h1 {
  font-size: 3rem;
  font-family: "Courgette", cursive;
  padding-top: 2.25rem;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #c5a059;
}

h3 {
  font-size: 1.5rem;
}

h3 + h2 {
  padding: 0;
}

h4 {
  font-size: 1.2rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #c5a059;
}

p {
  font-size: 1.15rem;
  line-height: 28px;
}

.btn, .primary-cta, .secondary-cta, .ghost-cta {
  padding: 1rem 2rem;
  margin-bottom: 0;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .btn, .primary-cta, .secondary-cta, .ghost-cta {
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.primary-cta {
  color: #161616;
  background-color: #c5a059;
  border: 1px solid;
  border-color: #161616;
  font-weight: 400;
}

.primary-cta:hover {
  color: #c5a059;
  background-color: #161616;
  border-color: #c5a059;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.secondary-cta {
  color: #c5a059;
  background-color: #161616;
  border: 1px solid;
  border-color: #c5a059;
  font-weight: 400;
}

.secondary-cta:hover {
  color: #161616;
  background-color: #c5a059;
  border-color: #161616;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ghost-cta {
  border-left: 3px solid #c5a059;
  color: #c5a059;
  border-color: #c5a059;
  font-weight: 400;
  border-radius: 0;
}

.ghost-cta:hover {
  color: white;
  border-left: 3px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 50px;
      grid-template-rows: 50px;
  grid-gap: 0;
  background-color: #302f2d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #302f2d;
  border-bottom: 2px solid #c5a059;
}

nav .logo {
  max-width: 165px;
}

nav ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style-type: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1 rem;
  color: white;
  padding: 0.25rem 0.75rem;
}

nav ul li a:hover {
  color: #c5a059;
}

nav ul li a .fas {
  display: block;
  padding: 5px;
  font-size: 30px;
}

@media (max-width: 991px) {
  nav {
    justify-items: center;
  }
  nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: none;
        grid-template-rows: none;
    grid-gap: 0;
    background-color: #302f2d;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 2px solid #9e9e9e;
    z-index: 3;
  }
  nav ul li a {
    font-size: 0.75rem;
    padding: 0.5rem 0;
  }
}

.footer {
  display: none;
}

.footer .footer-col, .footer .footer-col-1,
.footer .footer-col-2, .footer .footer-col-3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.footer .footer-col i, .footer .footer-col-1 i, .footer .footer-col-2 i, .footer .footer-col-3 i {
  padding: 0.35rem;
  font-size: 2rem;
}

.footer .footer-col .secondary-cta, .footer .footer-col-1 .secondary-cta, .footer .footer-col-2 .secondary-cta, .footer .footer-col-3 .secondary-cta {
  padding: 1rem 1rem;
}

.footer .footer-col .secondary-cta a, .footer .footer-col-1 .secondary-cta a, .footer .footer-col-2 .secondary-cta a, .footer .footer-col-3 .secondary-cta a {
  font-size: 0.75rem;
}

@media (min-width: 576px) {
  .footer .footer-col .secondary-cta, .footer .footer-col-1 .secondary-cta, .footer .footer-col-2 .secondary-cta, .footer .footer-col-3 .secondary-cta {
    padding: 1rem 5rem;
  }
}

.footer .footer-col-1,
.footer .footer-col-2 {
  padding: 0 2rem;
}

@media (max-width: 991px) {
  .footer .footer-col-1,
  .footer .footer-col-2 {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
}

@media (max-width: 991px) {
  .footer .footer-col-3 {
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
}

@media (min-width: 992px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 125px;
        grid-template-rows: 125px;
    grid-gap: 0;
    background-color: #302f2d;
    border-top: 3px solid #c5a059;
  }
  .footer h3 {
    color: #c5a059;
  }
}

.hero-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 350px;
      grid-template-rows: 350px;
  grid-gap: 0;
  background-color: none;
  background-image: url("../assets/horseshu/Horse-Shu-Header.jpg");
  background-position: 50% 10%;
  background-size: auto;
  background-repeat: no-repeat;
}

.hero-section .hero-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.hero-section .hero-header h3 {
  font-family: "Courgette", cursive;
  color: #c5a059;
}

@media (min-width: 992px) {
  .hero-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 450px;
        grid-template-rows: 450px;
    grid-gap: 0;
    background-color: none;
  }
}

.welcome-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 350px;
      grid-template-rows: 350px;
  grid-gap: 0;
  background-color: #161616;
  background-image: url("../assets/horseshu/Highball.jpg");
  background-position: 90% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.welcome-section .mobile-overlay .left-items {
  padding: 2.5rem;
}

@media (max-width: 991px) {
  .welcome-section .mobile-overlay {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
}

@media (min-width: 992px) {
  .welcome-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 375px;
        grid-template-rows: 375px;
    grid-gap: 0;
    background-color: #161616;
  }
}

.event-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: -8rem;
  padding-bottom: 1rem;
}

.event-header h2 {
  text-align: center;
  padding-top: 0;
}

@media (min-width: 992px) {
  .event-header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.event-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  background-color: none;
  background-image: url("../assets/placeholders/wood-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0rem;
}

@media (min-width: 992px) {
  .event-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 0;
    background-color: none;
  }
}

.event-section .item {
  display: -ms-grid;
  display: grid;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  height: 150px;
  border-top: 2px solid #c5a059;
  border-bottom: 2px solid #c5a059;
}

@media (min-width: 992px) {
  .event-section .item {
    height: 450px;
    padding: 1.5rem;
  }
}

.event-section .item .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
}

.event-section .item .overlay + * {
  z-index: 1;
}

.event-section .item h3 {
  color: #c5a059;
  padding-bottom: 0.5rem;
}

.event-section .item.left {
  background-image: url("../assets/horseshu/Microphone-Original.jpg");
}

@media (min-width: 992px) {
  .event-section .item.left {
    border-right: 1px solid #c5a059;
  }
}

.event-section .item.middle {
  background-image: url("../assets/horseshu/buffalo-wings-lg.jpg");
}

@media (min-width: 992px) {
  .event-section .item.middle {
    border-right: 1px solid #c5a059;
  }
}

.event-section .item.right {
  background-image: url("../assets/horseshu/pilsner-bg.jpg");
}

.event-section .event-cta {
  margin-top: 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 992px) {
  .event-section .event-cta {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-top: 2.5rem;
  }
}

.menu-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  background-color: none;
  padding: 3rem 2rem 3rem 2rem;
}

.menu-section .menu-header {
  text-align: center;
  padding-bottom: 2rem;
}

.menu-section .menu-header h3 {
  color: white;
  font-family: "Courgette", cursive;
}

.menu-section .menu-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  background-color: none;
}

.menu-section .menu-content .right-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  background-color: #302f2d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5rem 0 5rem 0;
}

.menu-section .menu-content .right-items p {
  padding: 1.75rem;
}

@media (min-width: 992px) {
  .menu-section .menu-content .right-items {
    margin: 5rem 0 5rem -3rem;
  }
}

.menu-section .menu-content .right-items .text-right {
  padding: 2rem;
}

@media (min-width: 1200px) {
  .menu-section .menu-content .right-items .text-right {
    margin-right: 2rem;
    border-radius: 15px;
  }
}

@media (min-width: 1200px) {
  .menu-section .menu-content {
    padding: 0 3rem 0 3rem;
  }
}

@media (max-width: 991px) {
  .menu-section .left-items,
  .menu-section .right-items {
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
}

.menu-groups {
  padding: 3rem;
}

.menu-groups h4 {
  padding: 0 0 0.25rem 0;
}

.menu-groups .entree-title {
  grid-column: span 2;
  padding-bottom: 1rem;
}

.menu-groups .entree-title h2 {
  padding: 0;
}

.menu-groups .entree-title sub {
  font-family: "Courgette", cursive;
}

.menu-groups .price {
  color: #c5a059;
  -ms-grid-column-align: end;
      justify-self: end;
}

.menu-groups .menu-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr auto;
      grid-template-columns: 1fr 1fr auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  background-color: none;
  padding: 0.75rem 0;
}

.menu-groups .menu-options .food-item {
  grid-column: span 2;
}

.menu-groups .menu-options .menu-description {
  grid-column: span 2;
}

@media (min-width: 992px) {
  .menu-groups {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 0 50px;
    background-color: none;
  }
}

.pizza-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  background-color: none;
  padding: 2rem 1.5rem 6rem 1.5rem;
  justify-items: center;
}

.pizza-menu .entree-title {
  grid-column: span 3;
}

.pizza-menu .accordion {
  grid-column: span 3;
  background-color: #302f2d;
  color: white;
  border-bottom: 1px dashed #c5a059 !important;
  border-radius: 15px;
  margin-bottom: 0.75rem;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
}

.pizza-menu .accordion h3 {
  font-family: "Old Standard TT", serif;
}

.pizza-menu .accordion:focus {
  outline: none;
}

@media (min-width: 992px) {
  .pizza-menu .accordion {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.pizza-menu .panel {
  grid-column: span 3;
  background-color: #302f2d;
  border-radius: 10px;
  border-bottom: 1px dashed #c5a059;
  margin: -2rem 0 0.75rem 0;
  padding: 1.25rem;
  display: none;
  overflow: hidden;
  width: 100%;
}

.pizza-menu .panel .byo-pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  background-color: none;
  text-align: center;
}

.pizza-menu .panel .byo-pricing h4 {
  padding: 0.5rem 0;
  border-top: 1px solid #c5a059;
  border-bottom: 1px solid #c5a059;
  margin-bottom: 0.75rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.pizza-menu .panel .byo-pricing .byo-price {
  padding-bottom: 2rem;
}

.pizza-menu .panel .byo-pricing .topping-opt {
  grid-column: span 3;
}

.pizza-menu .panel .byo-pricing .topping-opt .fas {
  font-size: 6px;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  .pizza-menu .panel {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.pizza-menu .panel .classic-options {
  padding: 0;
}

.pizza-menu .panel .classic-options .classic-pricing {
  text-align: center;
}

.pizza-menu .panel .classic-options .classic-pricing h4 {
  border-bottom: 1px solid #c5a059;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.pizza-menu .panel .classic-options .classic-pricing .classic-price {
  padding-bottom: 2rem;
}

@media (min-width: 576px) {
  .pizza-menu .panel .classic-options .classic-pricing {
    text-align: end;
  }
}

.pizza-menu .panel .classic-options .menu-options .food-item {
  text-transform: uppercase;
  padding-top: 1rem;
}

.lunch-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  background-color: none;
  border: 1px solid #c5a059;
  padding: 2rem;
  margin: 2rem;
}

.lunch-menu .entree-title {
  grid-column: span 2;
  padding-bottom: 2rem;
  text-align: center;
}

.lunch-menu .entree-title h2 {
  padding: 0;
}

.lunch-menu .menu-options {
  padding: 0.5rem;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 576px) {
  .lunch-menu .menu-options {
    width: auto;
  }
}

@media (min-width: 992px) {
  .lunch-menu {
    margin: 2rem 6rem 2rem 6rem;
  }
}

@media (min-width: 1200px) {
  .lunch-menu {
    margin: 2rem 15rem 2rem 15rem;
  }
}

.menu-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 0;
  background-color: none;
}

.menu-image .burgerimg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/3/3;
}

@media (min-width: 576px) {
  .menu-image .burgerimg {
    grid-area: auto;
  }
}

.delivery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 275px;
      grid-template-rows: 275px;
  grid-gap: 0;
  background-color: none;
  background-image: url("../assets/placeholders/driver-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.delivery .delivery-header {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery .delivery-header h1 {
  font-family: "Old Standard TT", serif;
  color: #c5a059;
}

.delivery-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: none;
      grid-template-rows: none;
  grid-gap: 10px;
  background-color: none;
  padding: 3rem 1rem;
  text-align: center;
}

.delivery-content img:hover {
  opacity: 0.3;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .delivery-content img {
    width: 75%;
  }
}

.event-pg-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-bottom: 1rem;
}

.event-pg-header img {
  display: none;
}

.event-pg-header h1 {
  text-align: center;
  padding-top: 0;
  font-family: "Old Standard TT", serif;
  color: #c5a059;
}

@media (min-width: 992px) {
  .event-pg-header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin-top: -8rem;
  }
  .event-pg-header img {
    display: initial;
  }
}

.event-pg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  background-color: none;
  background-image: url("../assets/placeholders/wood-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0rem;
}

@media (min-width: 992px) {
  .event-pg {
    padding: 4rem 2.5rem;
  }
}

.event-pg .event-item {
  display: -ms-grid;
  display: grid;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  height: 250px;
  border-top: 2px solid #c5a059;
  border-bottom: 2px solid #c5a059;
}

@media (min-width: 992px) {
  .event-pg .event-item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    height: 275px;
  }
}

.event-pg .event-item .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
}

.event-pg .event-item .overlay + * {
  z-index: 1;
}

.event-pg .event-item h2 {
  text-align: center;
  color: #c5a059;
}

.event-pg .event-item h3 {
  color: #c5a059;
  padding-bottom: 0.5rem;
}

.event-pg .event-item.mon {
  background-image: url("../assets/horseshu/Microphone-Original.jpg");
}

@media (min-width: 992px) {
  .event-pg .event-item.mon {
    border: 1px solid #c5a059;
  }
}

.event-pg .event-item.tues {
  background-image: url("../assets/horseshu/buffalo-wings-lg.jpg");
}

@media (min-width: 992px) {
  .event-pg .event-item.tues {
    border: 1px solid #c5a059;
  }
}

.event-pg .event-item.thurs {
  background-image: url("../assets/horseshu/pilsner-bg.jpg");
}

@media (min-width: 992px) {
  .event-pg .event-item.thurs {
    border: 1px solid #c5a059;
  }
}
/*# sourceMappingURL=main.css.map */